.who {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/Who/parallex.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.who::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.who .h1-who {
  line-height: 1.2em;
  font-size: 3rem;
  color: #fafafa;
  font-weight: 900;
  margin-top: 50px;
  margin-bottom: 40px;
  text-shadow: 0 0 #fafafa, 0 1.2em #0176c3;
  overflow: hidden;
  transition: 0.3s;
}

.who .h1-who:hover {
  color: #0176c3;
  text-shadow: 0 -1.2em #fafafa, 0 0 #0176c3;
}

.who .p-who {
  color: #fafafa;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.who .p-who span {
  background: linear-gradient(to bottom, #0176c3 0%, #0176c3 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #fafafa;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1px;
  transition: background-size 0.2s;
}

.who .p-who span:hover {
  background-size: 4px 50px;
}

/* button */

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px #0176c3, 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-who {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 160px;
  height: 50px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-who span {
  background: #000;
  display: block;
  font-weight: 800;
  position: absolute;
  width: 130px;
  letter-spacing: 1.8px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px #0176c3, 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-who span:nth-child(1) {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-who span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-who:hover span:nth-child(1) {
  background-color: #0176c3;
  color: #000;
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px #0176c3, 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-who:hover span:nth-child(2) {
  background-color: #0176c3;
  color: #000;
  font-weight: 800;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

@media screen and (max-width: 992px) {
  .who .h1-who {
    font-size: 2.5rem;
    text-shadow: 0 0 #fafafa, 0 0em #0176c3;
  }

  .who .h1-who:hover {
    text-shadow: 0 0em #fafafa, 0 0 #0176c3;
  }
  .who .p-who {
    font-size: 1.5rem;
  }

  .who .p-who span {
    font-size: 1.5rem;
  }
}
